8 - M2M Communication, NodeRED, InfluxDB and Grafana/Integration Nodered-Influx-Grafana/example/flows.json
[
    {
        "id": "5dc1d690c9da2a0e",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79edfdbdb756fb9a",
        "type": "aedes broker",
        "z": "5dc1d690c9da2a0e",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": 8880,
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 350,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4f576b448c07b841",
        "type": "mqtt in",
        "z": "5dc1d690c9da2a0e",
        "name": "",
        "topic": "esp32/dht11",
        "qos": "2",
        "datatype": "auto",
        "broker": "e7c5f3db.43d4d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "1248c31bb7b333e2",
                "94694a82356d58e1"
            ]
        ]
    },
    {
        "id": "1248c31bb7b333e2",
        "type": "function",
        "z": "5dc1d690c9da2a0e",
        "name": "Function 1",
        "func": "var data = JSON.parse(msg.payload);\nmsg.payload = {\n    temperature: data.temperature,\n    humidity: data.humidity\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 460,
        "wires": [
            [
                "089387b95ac0cb29",
                "3c7b0c557d406313"
            ]
        ]
    },
    {
        "id": "089387b95ac0cb29",
        "type": "influxdb out",
        "z": "5dc1d690c9da2a0e",
        "influxdb": "73d5e2fa.2eaddc",
        "name": "",
        "measurement": "dht11",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "mtp319_workspace",
        "bucket": "esp32_data",
        "x": 990,
        "y": 460,
        "wires": []
    },
    {
        "id": "94694a82356d58e1",
        "type": "debug",
        "z": "5dc1d690c9da2a0e",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "3c7b0c557d406313",
        "type": "debug",
        "z": "5dc1d690c9da2a0e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 360,
        "wires": []
    },
    {
        "id": "e7c5f3db.43d4d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "73d5e2fa.2eaddc",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "esp32_data",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "",
        "rejectUnauthorized": false
    }
]